@import url(../../styles/index.scss);

.centralizaLogo{
    display: flex;
    background-color: #F2E5F3;
    .fundo{
        text-align: center;
        height: 20vh;
        width: 100%;
        padding: 40px;
    }

    .img{  
        vertical-align: middle;
        width: 79px;
    }
    .titulo{
        line-height: 5.5vh;
        color: #95729C;
        font-size: 64px;
        font-weight: 700;
    }
    }







.menu{
    background-color: #B492B5;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px ;
    .linkMenu{
        font-size: 20px;
        text-align: center;
        width: 250px;
        color: #260C35;
        padding: 10px;
        background-color: #F2E5F3;
        border-radius: 50px;
        border: 1px #260C35 solid;
        text-decoration: none;

    }:hover{
        text-decoration: underline;
        text-decoration-thickness: 1px;
        color: #260C35;
        
    }


}
